
/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f7fc;
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#1e3a8a;
    padding:15px 60px;
}

.logo h2{
    color:white;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:17px;
}

.nav-links a:hover{
    color:#93c5fd;
}

/* Main Container */

.event-container{
    width:85%;
    margin:40px auto;
}

/* Card */

.event-card{
    background:white;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,0.15);
    overflow:hidden;
}

.event-card img{
    width:100%;
    height:320px;
    object-fit:cover;
}

.event-info{
    padding:30px;
}

.event-info h1{
    color:#1e3a8a;
    margin-bottom:15px;
}

.status{
    display:inline-block;
    background:#16a34a;
    color:white;
    padding:6px 15px;
    border-radius:20px;
    margin-bottom:20px;
}

/* Details */

.details{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:18px;
    margin-top:20px;
}

.details p{
    font-size:17px;
}

.details strong{
    color:#1e3a8a;
}

/* Description */

.description{
    margin-top:30px;
}

.description h3{
    color:#1e3a8a;
    margin-bottom:10px;
}

.description p{
    line-height:1.7;
    color:#444;
}

/* Registration Section */

.registration-section{
    margin-top:40px;
    padding:30px;
    background:#eef5ff;
    border-radius:10px;
}

.registration-section h2{
    color:#1e3a8a;
    margin-bottom:20px;
}

/* Register Button */

.register-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:14px 35px;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

.register-btn:hover{
    background:#1d4ed8;
}

/* Disabled */

.register-btn:disabled{
    background:gray;
    cursor:not-allowed;
}

/* Responsive */

@media(max-width:768px){

.details{
grid-template-columns:1fr;
}

.navbar{
flex-direction:column;
gap:15px;
}

.event-container{
width:95%;
}

}
