*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body{
    background:#f4f7fc;
}

.dashboard-container{
    display:block;
}

/* Top Bar */
.topbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #6d0b17, #4b46df);
    color: white;
    z-index: 1000;
}

.topbar-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.topbar-right{
    display: flex;
    align-items: center;
    gap: 25px;
}

.student-link{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 17px;
    padding: 10px 16px;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;

}

.student-link:hover{
    color: #ffd54f;
    background: rgba(255, 255, 255, 0.2);
}

.logo{
    flex-shrink: 0;
}

.logo h2{
    font-size: 36px;
}

.topbar-nav{
    display: flex;
    justify-content: center;
    gap: 35px;
    font-size: 17px;
    flex-wrap: wrap;
    padding: 25px 40px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 17px;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.profile:hover{
    color: #ffd54f;
    background: rgba(255, 255, 255, 0.2);
}

.topbar nav a{
    text-decoration:none;
    color:#cbd5e1;
    padding:14px 18px;
    border-radius:12px;
    display:flex;
    align-items:center;
    gap:12px;
    transition:.3s;
}

.topbar-nav a:hover{
    background:#334155;
    color:white;
}


.topbar nav .active{
    background:#2563eb;
    color:white;
}

/* Main */

.content{
    width:100%;
    padding:60px 35px 35px;
}

.manage-event{
    padding-top:20px;
    padding-left:35px;
    padding-right:35px;
}

.section-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.section-title button{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:10px;
    cursor:pointer;
}

.badge{
    padding:6px 14px;
    border-radius:30px;
    font-size:14px;
    font-weight:600;
}

.open{
    background:#dcfce7;
    color:#15803d;
}

.closed{
    background:#fee2e2;
    color:#dc2626;
}

.events-container{
    background:white;
    border-radius:18px;
    padding:30px;
    box-shadow:0 8px 20px rgba(0,0,0,.06);
}

.events-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
    
}

.events-header h2{
    font-size:28px;
}

#addEventBtn{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:12px;
    cursor:pointer;
    display:flex;
    align-items:center;
    gap:10px;
    font-size:15px;
}

.toolbar{
    display:flex;
    gap:15px;
    margin-bottom:25px;
}

.toolbar input,
.toolbar select{
    padding:12px;
    border:1px solid #d1d5db;
    border-radius:10px;
    font-size:15px;
}

.toolbar input{
    flex:1;
}

.events-container table{
    width:100%;
    border-collapse:collapse;
}

.events-container th,
.events-container td{
    padding:18px;
    text-align:center;
    border-bottom:1px solid #eee;
    border-right: 1px solid #eee;
}

.events-container th:last-child,
.events-container td:last-child{
    border-right:none;
}

.events-container tbody tr:last-child td{
    border-bottom:none;
}

.table-wrapper{
    padding: 0 15px;
    overflow-x:auto;
}

.modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    display:none;
    justify-content:center;
    align-items:flex-start;
    overflow-y:auto;
    padding:30px;
    z-index:1000;
}

.modal-content{
    width:850px;
    max-width:95%;
    background:white;
    border-radius:18px;
    padding:30px;
    margin: auto;
    animation:popup .25s ease;
}

@keyframes popup{
    from{
        transform:scale(.9);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

.modal-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.modal-header h2{
    font-size:28px;
}

#closeModal{
    font-size:30px;
    cursor:pointer;
}

.form-group{
    display:flex;
    flex-direction:column;
    margin-bottom:18px;
}

.form-group label{
    margin-bottom:8px;
    font-weight:500;
}

.form-group input,
.form-group select{
    padding:12px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:15px;
}

.save-btn{
    width:auto;
    padding:14px 22px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
}

.save-btn:hover{
    background:#1d4ed8;
}

.edit-btn{
    background:#f59e0b;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:20px;
    cursor:pointer;
    margin-right:8px;
}

.delete-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:10px 12px;
    border-radius:20px;
    cursor:pointer;
}

.edit-btn:hover{
    background:#d97706;
}

.delete-btn:hover{
    background:#dc2626;
}

textarea{
    resize:none;
    padding:12px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:15px;
}

input[type="file"]{
    padding:10px;
}

.upload-box{
    border:2px dashed #3b82f6;
    border-radius:16px;
    padding:35px;
    text-align:center;
    cursor:pointer;
    transition:.3s;
    background:#f8fbff;
}

.upload-box:hover{
    background:#eef5ff;
}

.upload-box i{
    font-size:45px;
    color:#2563eb;
    margin-bottom:15px;
}

.upload-box h3{
    margin-bottom:8px;
}

.upload-box p{
    color:#777;
}

#bannerPreview{
    display:none;
    width:100%;
    margin-top:20px;
    border-radius:15px;
    max-height:250px;
    object-fit:cover;
}

.form-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    margin-bottom:20px;
}

.full-width{
    width:100%;
    margin-bottom:20px;
}

@media(max-width:900px){
    .form-grid{
        grid-template-columns:1fr;
    }
}

.modal-actions{
    display:flex;
    justify-content:flex-end;
    gap:15px;
}

.cancel-btn{
    padding:14px 22px;
    border:none;
    border-radius:10px;
    background:#e5e7eb;
    cursor:pointer;
}

.cancel-btn:hover{
    background:#d1d5db;
}

body.modal-open{
    overflow:hidden;
}

.delete-modal{
    width:420px;
    background:white;
    padding:35px;
    border-radius:18px;
    text-align:center;
}

.warning-icon{
    font-size:55px;
    color:#ef4444;
    margin-bottom:20px;
}

.delete-modal h2{
    margin-bottom:10px;
}

.delete-modal p{
    color:#6b7280;
    margin-bottom:30px;
}

.delete-actions{
    display:flex;
    justify-content:center;
    gap:15px;
}

.delete-confirm-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:14px 22px;
    border-radius:10px;
    cursor:pointer;
}

.delete-confirm-btn:hover{
    background:#dc2626;
}

.empty-state{
    text-align:center;
    padding:40px;
    color:#6b7280;
    font-size:18px;
}

.stats-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:24px;
    margin-top:30px;
}

.stat-card{
    background:#fff;
    border-radius:18px;
    border-left:6px solid;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    min-height:180px;
    padding:28px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-5px);
}

.stat-card h4{
    font-size:20px;
    font-weight:600;
    color:#6b7280;
    margin:0;
}

.stat-card h2{
    font-size:48px;
    color:#1f2937;
    margin:12px 0;
}

.stat-card p{
    color:#9ca3af;
    font-size:15px;
    margin:0;
}

.blue{
    border-color:#3b82f6;
}

.green{
    border-color:#10b981;
}

.orange{
    border-color:#f59e0b;
}

.red{
    border-color:#ef4444;
}

@media (max-width:1200px){
    .stats-grid{
        grid-template-columns:repeat(2,1fr);
    }
}

@media (max-width:768px){
    .stats-grid{
        grid-template-columns:1fr;
    }
}

.view-all-btn{
    text-decoration:none;
    color:white;
    background:#4f46e5;
    padding:10px 18px;
    border-radius:10px;
    font-size:14px;
    font-weight:600;
    transition:.3s;
}

.view-all-btn:hover{
    background:#4338ca;
}

@media (max-width: 1200px) {
    .topbar {
        align-items: flex-start;
        height: auto;
        padding: 15px 20px;
        gap: 15px;
    }

    .topbar-top {
        padding: 8px;
    }
    .topbar nav {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap:nowrap;
        gap: 15px;
        padding-bottom: 1px;
    }
}

.profile-container{
    position:relative;
}


.dropdown{
    position:absolute;
    top:45px;
    right:0;
    width:250px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
    display:none;
}

.dropdown.active{
    display:block;
}

/* ===== User Info ===== */

.user-info{
    padding:18px;
}

/* ===== Dropdown Links ===== */

.dropdown a{
    display:block;
    padding:15px 18px;
    color:#222;
    text-decoration:none;
    transition:.3s;
}

.dropdown a:hover{
    background:#f4f4f4;
    color:#4b46df;
}

/* ===== Responsive ===== */

@media(max-width:768px){

    .navbar{
        padding:18px 25px;
    }

    .logo a{
        font-size:26px;
    }

    .nav-links{
        gap:15px;
    }

    .nav-links a,
    #profileBtn{
        font-size:17px;
    }

}

#userName{
  color:#000000;
  font-weight:bold;
  font-size:25px;
}

#userUsername, #userEmail{
  color:#000000;
  font-size:15px;
}

#editProfileBtn, #logoutBtn {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: auto;
    margin:0;
    padding: 15px 18px;
    border-radius: 0px;
    background: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

#editProfileBtn:hover, #logoutBtn:hover {
  background: #e3dede;
  color: #4b46df;
}

#editProfileBtn i, #logoutBtn i {
  color: #4b46df;
  font-size: 15px;
  width: 18px;
  text-align: center;
}

button {
  border: none;
  border-radius: 30px;
  background: linear-gradient(90deg, #7b2f3c, #4f46e5);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(37, 99, 235, 0.4);
}

#teamModalBody{
    max-height: 60vh;
    overflow-y: auto;
    padding-right: 8px;
}