button {
  margin: 25px 20px;
  width: calc(100% - 40px);
  height: 50px;
  border: none;
  border-radius: 30px;
  background: #4338ca;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(37, 99, 235, 0.4);
  background: #3730a3;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .hero h1 {
    font-size: 34px;
  }

  .controls {
    flex-direction: column;
    margin-top: 0;
  }

  .controls input,
  .controls select {
    width: 100%;
  }

  .cards {
    padding: 20px;
  }

  .details {
    margin: 20px;
    padding: 20px;
  }

  .info-grid {
    grid-template-columns: 1fr;
  }
}

.details {
  max-width: 1000px;
  margin: 50px auto;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.details img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 30px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 30px 0;
}

.info-box {
  background: #f8fafc;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.info-box:hover {
  transform: translateY(-6px);
  background: #2563eb;
  color: white;
}

.details h2 {
  margin-top: 30px;
}

#rules {
  margin-top: 10px;
  padding-left: 20px;
}

#registerBtn {
  width: 100%;
  height: 60px;
  padding: 18px;
  margin-top: 35px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(90deg, #16a34a, #22c55e);
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#registerBtn:hover {
  transform: scale(1.02);

  box-shadow: 0 15px 30px rgba(34, 197, 94, 0.35);
}
.profile-container{
    position:relative;
    display:inline-block;
}

#profileBtn{
    background:none;
    border:none;
    color:white;
    cursor:pointer;
}

.dropdown{
    position:absolute;
    right:0;
    top:45px;
    width:240px;
    background:white;
    border-radius:12px;
    box-shadow:0 8px 20px rgba(0,0,0,.2);
    display:none;
    overflow:hidden;
    z-index:999;
}

.dropdown.active{
    display:block;
}

.user-info{
    padding:15px;
}

.user-info p{
    margin-top:5px;
    color:gray;
    font-size:14px;
}

.dropdown a{
    display:block;
    padding:14px 18px;
    text-decoration:none;
    color:#333;
}

.dropdown a:hover{
    background:#f5f5f5;
}

#host{
  background:none;
  color:white;
  border:none;
  font-size:20px;
  font-weight:600;
}

#registerBtn.already-registered {
    background: linear-gradient(90deg, #6b7280, #4b5563);
}

#registerBtn.already-registered:hover {
    transform: none;
    box-shadow: none;
}

@media (max-width: 480px) {
        #registerBtn {
        height: 58px;
        margin-top: 30px;
        font-size: 18px;
        border-radius: 30px;
    }
    .details img {
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 16px;
    }
}
